/* Custom Styles - Portfolio */
@import 'settings';
@import 'foundation';
@import 'variables.scss';
@import '../bower_components/animsition/dist/css/animsition.min.css';

.overlay {
  position: fixed;
  top: 105%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.98);
  backface-visibility: hidden;
  z-index: 4;
}

// Prevent flickering
body.js .nojs { display: none; }

// This centers magellan nav
#magellan {padding: .75rem;}
.sub-nav {
  text-align: center;
  //display: table; // Centers nav on IE
  // margin-left: 0 !important;
  // width: -webkit-fit-content;
  // width: -moz-fit-content;
  // width: fit-content;
  dd {
    display: inline-block;
    margin-left:.4rem;
    float:none;
  }
}
.magellan-nav {
  right: 0;
}
/* Fixed magellan nav styles, override default styles */
#magellan.fixed {
  background-color: $oil;
  @include single-transition;
  opacity:.95 !important;
  dd a {font-weight: bold; transition: all 150ms ease-out;}
  dd.active a {background: none !important;}
}



// Begin MOBILE
@media (min-width: 320px) and (max-width: 500px) {
  // All mobile elements are centered except text
  .text, .contact .row, .row label, .row input.button {text-align:left;}
  .row {text-align: center;}

  .experience {
    padding-right:1rem;
    li {
      border-bottom: 1px solid #cccccc;
      &:last-child {border-bottom: none;}
    }
  }
  .portfolio {
    .portfolio_grid {
      min-height:240px !important;
    }
  }
}
// End MOBILE

// Adjust width of slider overlay for various mobile device widths
//320px
@media (min-width: 320px) and (max-width: 359px) {
  .slider_overlay {width:17.5rem !important;}
}
//360px
@media (min-width: 360px) and (max-width: 374px) {
  .slider_overlay {width:20rem !important;}
}
//375px
@media (min-width: 375px) and (max-width: 383px) {
  .slider_overlay {width:21rem !important;}
}

//384px
@media (min-width: 384px) and (max-width: 410px) {
  .slider_overlay {width:21.5rem !important;}
}

//410px
@media (min-width: 412px) and (max-width: 414px) {
  .slider_overlay {width:23.5rem !important;}
}

// Adjust vertical and horizontal spacing for larger mobile screen sizes
@media (min-width: 375px) and (max-width: 415px) {
  //.about {padding-top:14rem !important;}
  .gradient_up {margin-top:8rem;}
}




// Medium screen sizes +
@media only screen and (min-width: 40.063em) {

  .about {
    .intro {
      //margin-bottom:1.5rem;
      a {display:inline !important;}
    }
    img {
      width: 90%;
      display:block;
      //margin:0 auto;
    }
  }

  .emphasis {
    //text-align: right;
  }

  // Hover for portfolio items
  .portfolio_items {

    .portfolio_grid,
    .portfolio_overlay {@include single-transition;}


  }


} /* min-width 641px, medium screens */



// Adjust vertical spacing for screen sizes
@media only screen and (min-width: 64.063em) { } // Large


@media only screen and (min-width: 90.063em) { } // XLarge

//section.about and header {padding-top:35rem;}
@media only screen and (min-width: 120.063em) { } //XXLarge


.header {
  padding-top:13rem;
  background-color:$white;
  text-align: center;
}

.branding {
  a {
    display: block;
    width:286px;
    height:72px;
    margin: 0 auto;
    //text-indent:-99999px;
    //background-image: url('../images/branding_home.svg');
    //background-image: url('../images/branding_home@3x.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  h1 {
    line-height:2.25rem;
    text-indent:-99999px;
    small {display:inline-block;}
  }
}


body {
  //background-color:$offwhite !important;
}


.about {
    img {
      margin-bottom: $spacer;
    }
  }

  p.subheader, .skills, .experience {
    margin:0 0 $spacer 0;
  }

  .skills {
    li {
      margin-left:1rem;
      padding-left:.5rem;
    }
  }

  .experience {
    li {
      list-style: none;
      padding: 0 0 .5rem 0;
      margin-bottom:$smallspacer;
      p:first-child {
        margin-bottom: 0;
      }
    }
  }

  .resume {}
  .portfolio {
    ul {
      margin:0;
    }
    li {
      list-style: none;
    }
    .portfolio_grid {
      position: relative;
      display: block;
      min-height: 280px;
      margin-bottom:2rem;
    }

      .portfolio_items {
        margin:0 auto;
        .portfolio_grid {
          cursor:pointer;
          border:2px solid #999999;
          opacity:.9;
          &:hover {opacity:1;}
        }
        .portfolio_overlay {
          position:absolute;
          //padding: .5rem;
          height: 100%;
          width:100%;
          vertical-align:middle;
          background-color: rgba($darkgray, 0.75);
          text-align: center;
          opacity:0;
          &:hover {opacity:1;}
          .portfolio_text {
            position:relative;
            top:4.5rem;
            //border-bottom:.25rem solid $lightgray;
            //border-top:.25rem solid $lightgray;
            margin:0 1.25rem;
            padding:1.5rem .5rem;
            @include text_shadow($darkgray);
          }
          h3 {
            color:$offwhite;
            font-weight: 500;
            letter-spacing: 0.05rem;
          }
            .subheader {
              font-size:1.25rem;
              color:$lightgray;
              margin:0;
            }
        }

        .portfolio_otp {
          background: url('../images/otp_grid.jpg') center center / 100% no-repeat;
          }
        .portfolio_qf {
          background: url('../images/qf_grid.png') center center / 100% no-repeat;
          }
        .portfolio_header {
            background: url('../images/header_grid.jpg') center center / 100% no-repeat;
            }
        .portfolio_solutions {
            background: url('../images/solutions_grid.jpg') center center / 100% no-repeat;
            }
        .portfolio_music_answer {
            background: url('../images/music_grid.jpg') center center / 100% no-repeat;
            }
        .portfolio_tonglen {
            background: url('../images/tonglen_grid.jpg') center center / 100% no-repeat;
            }
      }
  }

  .viewport {
    float: left;
    height: 299px;
    margin: 0 9px 9px 0;
    overflow: hidden;
    position: relative;
    width: 450px;
}


/* --- Link configuration that contains the image and label ----------------------------- */
.viewport a {
    display: block;
    position: relative;
}

.viewport a img {
    height: 332px;
    left: -20px;
    position: relative;
    top: -20px;
    width: 500px;
}

/* --- Label configuration -------------------------------------------------------------- */
.viewport a span {
    display: none;
    font-size: 3.0em;
    font-weight: bold;
    height: 100%;
    padding-top: 120px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
}
    .viewport a span em {
        display: block;
        font-size: 0.45em;
        font-weight: normal;
    }

/* --- Dark hover background ------------------------------------------------------------ */
.dark-background {
    background-color: rgba($oil, 0.75);
    color: #fff;
    text-shadow: #000 0px 0px 20px;
}
    .dark-background em {
        color: #ccc;
    }


  // Portfolio modal overlay DESKTOP
  .portfolio_modal {
    h2 {
      margin-bottom:0;
      line-height:2.5rem;
    }

    label {
      margin-bottom:2rem;
    }

    .emphasis {
      //margin-right:10rem;
      margin-bottom:2rem;
      //line-height: 1.5rem;
    }

    .row {
      margin-bottom:2.5rem;
    }
    div.left {
      padding-right:1.5rem;
    }
    li {position:relative;}
    li a > img {border: 1px solid $lightgray;}
    .clearing-featured-img img {width:100%;}
    .caption {
      position: absolute;
      bottom:0;
      right: 0;
      background-color: rgba($oil,0.75);
      margin: 0;
      padding: .25rem .5rem;
      color: #fff;
      font-weight: 200;
      letter-spacing: .05rem;
      font-size: small;
      cursor: pointer;
    }
  }


  // Portfolio slider overlay MOBILE
  .slider_overlay {
    z-index: 1;
    background-color: $offwhite;
    @include background_bg();
    header {
      padding:2.75rem 1rem .75rem 1rem;
      //background-color: rgba($oil, .03);
    }
    h1{line-height:2rem; margin:0}
    h2{line-height:1.25rem; margin:.5rem 0 1.25rem 0;}
    small {font-size:80%;}
    .emphasis {margin:0;}
    .clearing-thumbs {
      margin-bottom:1.5rem;
    }
    .text {
      margin-top:1rem;
      //color:$offwhite;
    }
  }

  .footer {
    padding:10rem 0;
    background-color: #222222;
    color:$white;
  }

  // Adjustments
    h3.subheader {
      color: $lightgray;
    }

  // Common elements

  .about, .portfolio, .resume, .contact {
    background-color:$offwhite;
    padding-top:5rem;
    @include background_bg();
  }
  .about {padding-top:2rem;}

  .gradient_up {
    // height on this should be mobile only
    height:13.5rem;
    background-color: $white;
    background-image: linear-gradient(to bottom, $white, $offwhite);
    border-bottom: 1px solid #ffffff;
  }
  .background_dark {background-color:$offwhite;}
  .no_scroll {overflow:hidden;}
  .scroll_y {overflow-y: scroll;}
  .opacity_show {opacity:1 !important;}

  .divider{
    color:$lightgray;
    @include text_shadow($offwhite);
    width:100%;
    margin:1.5rem auto;
    overflow:hidden;
    text-align:center;
    line-height:1.2em;
    &:after, &:before {
      content:"";
      vertical-align:top;
      display:inline-block;
      width:50%;
      height:0.65em;
      border-bottom:1px solid #dddddd;
      margin:0 3% 0 -55%;
    }
    &:after {
      margin:0 -55% 0 3%;
    }
  }


    .emphasis {
      font-size:1.25rem;
      font-weight:600;
      letter-spacing: .025rem;
      //color:$lightgray;
    }

    //This animates slider background color
    html, .portfolio, .about {@include single-transition;}

    .slider_close {
      opacity:0;
      top:0;
      left:0;
      display:block;
      height:100%;
      width:40px;
      background: url('../images/arrow_back_dark.svg') no-repeat .45rem 3.5rem / 20px;
      @include single-transition;
      background-color: rgba($oil, 0.15);
    }

    .th {
      border: solid 4px #FFFFFF;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
      display: inline-block;
      line-height: 0;
      max-width: 50%;
    }

    .smallspacer {margin-bottom:$smallspacer;}

// IE class elements

.ie {}
.lt-ie9 {}
