/* Custom Styles - Portfolio */

@import "settings";
@import "foundation";

@mixin background_bg() {
  background: url('../images/crossword.png') repeat;
}

@mixin text_shadow($color) {
  text-shadow: 4px 4px 3px $color;
}

$primary: #555555;
$emphasis: #111111;

$white: #ffffff;
$offwhite: #f2f2f2;

$darkgray: #333333;
$lightgray: #aaaaaa;


$padding: .75rem;
$spacer: 2rem;
$smallspacer: 2.5rem;

$bodytext: 1.2rem;

$rem-base: 14px;


.overlay {
  position: fixed;
  top: 105%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.98);
  backface-visibility: hidden;
  z-index: 4;
}

// Prevent flickering
body.js .nojs { display: none; }

// This centers magellan nav
.sub-nav {
  display: table; // Centers nav on IE
  margin: 0 auto !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  dd {margin-left:.4rem;}
}
.magellan-nav {
  right: 0;
}
/* Fixed magellan nav styles, override default styles */
#magellan.fixed {
  background-color: $oil;
  @include single-transition;
  opacity:.95 !important;
  dd a {font-weight: bold; transition: all 150ms ease-out;}
  dd.active a {background: none !important;}
}



// Begin MOBILE
////////////
@media (min-width: 320px) and (max-width: 480px) {
  // All mobile elements are centered except text

  .text, .contact .row, .row label, .row input.button {text-align:left;}
  .row {text-align: center;}

  // .nav {
  //   text-align:center;
  //   margin-top:$spacer;
  //   ul {
  //     list-style:none;
  //     margin:0;
  //     li {
  //       line-height:2.75rem;
  //     }
  //     a {
  //       padding: $padding;
  //     }
  //   }
  // }

  .experience {
    li {
      border-bottom: 1px solid #cccccc;
      &:last-child {border-bottom: none;}
    }
  }

}
// End MOBILE

// Adjust width of slider overlay for various mobile device widths
//320px
@media (min-width: 320px) and (max-width: 359px) {
  .slider_overlay {width:17.5rem !important;}
}
//360px
@media (min-width: 360px) and (max-width: 374px) {
  .slider_overlay {width:20rem !important;}
}
//375px
@media (min-width: 375px) and (max-width: 383px) {
  .slider_overlay {width:21rem !important;}
}

//384px
@media (min-width: 384px) and (max-width: 410px) {
  .slider_overlay {width:21.5rem !important;}
}

//410px
@media (min-width: 412px) and (max-width: 414px) {
  .slider_overlay {width:23.5rem !important;}
}

// Adjust vertical and horizontal spacing for larger mobile screen sizes
@media (min-width: 375px) and (max-width: 415px) {
  //.about {padding-top:14rem !important;}
  .gradient_up {margin-top:8rem;}
}




// Medium screen sizes +
@media only screen and (min-width: 40.063em) {

  .about {
    .intro {
      //margin-bottom:1.5rem;
      a {display:inline !important;}
    }
    img {
      width: 90%;
      display:block;
      //margin:0 auto;
    }
  }

  .emphasis {
    //text-align: right;
  }

  // Hover for portfolio items
  .portfolio_items {

    .portfolio_grid,
    .portfolio_overlay {@include single-transition;}

    .portfolio_grid {
      opacity:.5;
    }
    .portfolio_overlay {
      opacity:0;
    }

  }


} /* min-width 641px, medium screens */



// Adjust vertical spacing for screen sizes
@media only screen and (min-width: 64.063em) { } // Large


@media only screen and (min-width: 90.063em) { } // XLarge

//section.about and header {padding-top:35rem;}
@media only screen and (min-width: 120.063em) { } //XXLarge


.header {
  padding-top:13rem;
  background-color:$white;
  text-align: center;
}

.branding {
  a {
    display: block;
    width:286px;
    height:72px;
    margin: 0 auto;
    //text-indent:-99999px;
    //background-image: url('../images/branding_home.svg');
    //background-image: url('../images/branding_home@3x.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  h1 {
    line-height:2.25rem;
    text-indent:-99999px;
    small {display:inline-block;}
  }
}


body {
  //background-color:$offwhite !important;
}


.about {
    img {
      margin-bottom: $spacer;
    }
  }

  p.subheader, .skills, .experience {
    margin:0 0 $spacer 0;
  }

  .skills {
    li {
      margin-left:$smallspacer;
      padding-left:.5rem;
    }
  }

  .experience {
    li {
      list-style: none;
      padding: 0 0 .5rem 0;
      margin-bottom:$smallspacer;
      p:first-child {
        margin-bottom: 0;
      }
    }
  }


  .portfolio {
    ul {
      margin:0;
    }
    li {
      list-style: none;
    }
    .portfolio_grid {
      position: relative;
      display: block;
      //min-width: 290px;
      min-height: 280px;
      margin-bottom:2rem;
    }

      .portfolio_items {
        margin:0 auto;
        .portfolio_grid {cursor:pointer; cursor:hand;}
        .portfolio_overlay {
          position:relative;
          top:3.5rem;
          display: block;
          padding: .5rem;
          width: 100%;
          min-height: 9.5rem;
          vertical-align:middle;
          background-color: rgba($darkgray, 0.8);
            .project_logo, .project_label {
              //padding-top: 1.75rem;
              position: relative;
              top: 2rem;
              transform: translateY(-20%);
            }

            .project_logo {
              //
            }
            .project_label {
              margin-top:1rem;
              text-align: center;
              @include text_shadow($primary);
              h3 {
                line-height:1rem;
                & small {
                  color: $white;
                  letter-spacing: -0.025rem;
                  margin:0;
                }
              }
              h3.subhead small {color:$lightgray;}
            }
        }

        .portfolio_otp {
          background: url('../images/portfolio_otp.png') center center / 100% no-repeat;
          }
        .portfolio_qf {
          background: url('../images/portfolio_qf.png') center center / 100% no-repeat;
          }
        .portfolio_music_answer {
            background: url('../images/portfolio_music_answer.png') center center / 100% no-repeat;
            }
      }
  }

  // Portfolio slider overlay
  .slider_overlay {
    z-index: 1;
    background-color: $offwhite;
    @include background_bg();
    header {
      padding:2.75rem 1rem .75rem 1rem;
      //background-color: rgba($oil, .03);
    }
    h1{line-height:2rem; margin:0}
    h2{line-height:1.25rem; margin:.5rem 0 1.25rem 0;}
    small {font-size:80%;}
    .emphasis {margin:0;}
    .clearing-thumbs {
      margin-bottom:1.5rem;
    }
    .text {
      margin-top:1rem;
      //color:$offwhite;
    }
  }

  .footer {
    padding:10rem 0;
    background-color: #222222;
    color:$white;
  }

  // Adjustments
    h3.subheader {
      color: $lightgray;
    }

  // Common elements

  .about, .portfolio, .resume, .contact {
    background-color:$offwhite;
    padding-top:5rem;
    @include background_bg();
  }
  .about {padding-top:1rem;}

  .gradient_up {
    // height on this should be mobile only
    height:13.5rem;
    background-color: $white;
    background-image: linear-gradient(to bottom, $white, $offwhite);
    border-bottom: 1px solid #ffffff;
  }
  .background_dark {background-color:$offwhite;}
  .no_scroll {overflow:hidden;}
  .scroll_y {overflow-y: scroll;}
  .opacity_show {opacity:1 !important;}

  .divider{
    color:$lightgray;
    @include text_shadow($offwhite);
    width:100%;
    margin:1.5rem auto;
    overflow:hidden;
    text-align:center;
    line-height:1.2em;
    &:after, &:before {
      content:"";
      vertical-align:top;
      display:inline-block;
      width:50%;
      height:0.65em;
      border-bottom:1px solid #dddddd;
      margin:0 3% 0 -55%;
    }
    &:after {
      margin:0 -55% 0 3%;
    }
  }


    .emphasis {
      font-size:1.25rem;
      font-weight:600;
      letter-spacing: .025rem;
      //color:$lightgray;
    }

    //This animates slider background color
    html, .portfolio, .about {@include single-transition;}

    .slider_close {
      opacity:0;
      top:0;
      left:0;
      display:block;
      height:100%;
      width:40px;
      background: url('../images/arrow_back_dark.svg') no-repeat .45rem 3.5rem / 20px;
      @include single-transition;
      background-color: rgba($oil, 0.15);
    }

    .th {
      border: solid 4px #FFFFFF;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
      display: inline-block;
      line-height: 0;
      max-width: 50%;
    }

    .smallspacer {margin-bottom:$smallspacer;}

// IE class elements

.ie {}
.lt-ie9 {}
