/* Custom Styles - Portfolio */

$primary: #555555;
$emphasis: #111111;
$white: #ffffff;
$lightgray: #cccccc;

$padding: .75rem;
$spacer: 2rem;
$smallspacer: 1.5rem;

$bodytext: 1.2rem;

.overlay {
  position: fixed;
  top: 105%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.98);
  backface-visibility: hidden;
  z-index: 4;
}

@media (min-width: 320px) and (max-width: 480px) {

  // All mobile elements are centered except text

  .row {text-align: center;} .text { text-align: left;}

  p, ul {
    font-size: $bodytext;
    color:$primary;
  }


  .page_header {
    font-size:1.7rem;
    font-weight:100;
    margin-bottom: $spacer;
  }
  .paragraph_header {
    font-size:$bodytext;
    font-weight:bold;
    margin-bottom: 1.5rem;
  }

  .list_header {
    font-size:$bodytext;
    color:$emphasis;
    margin-bottom:0;
    }

  .branding {
    text-align:center;
    margin-top:10rem;
    a {
      display: block;
      margin: 0 auto;
      text-indent:-99999px;
      background-image: url('../images/branding_home.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .nav {
    text-align:center;
    margin-top:$spacer;
    ul {
      list-style:none;
      margin:0;
      li {
        line-height:2.75rem;
      }
      a {
        padding: $padding;
      }
    }
    .portfolio {

    }
  }
}




.about {
    margin-top:10rem;
    img {
      margin-bottom: $spacer;
    }

    .skills, .experience {
      margin:0 0 $spacer 0;
    }

    .skills {
      li {
        margin-left:$smallspacer;
        padding-left:.5rem;
      }
    }

    .experience {
      li {
        list-style: none;
        padding: 0;
        margin-bottom:$smallspacer;
      }
    }

  }

  .portfolio {
      .portfolio_items {
        margin:0 auto;
        li {
          position: relative;
          display: block;
          list-style: none;
          min-width: 290px;
          min-height: 280px;
        }

        .portfolio_overlay {
          position:relative;
          top:5rem;
          display: block;
          padding: .5rem;
          width: 100%;
          min-height: 8rem;
          vertical-align:middle;
          background-color: rgba(#222222, 0.8);
            h4, h5 {

            }
            .project_logo, .project_label {
              padding-top: 1.75rem;
              padding-bottom: 2rem;
              vertical-align:middle;
            }

            .project_logo {
              //
            }
            .project_label {
              clear: right;
              h4, h5 {
                font-size:$bodytext;
                color: $white;
                letter-spacing: -0.025rem;
                text-align: left;
              }
              h5 {color:$lightgray}
            }
        }

        .portfolio_otp {
          background: url('../images/portfolio_otp.png') center center / 100% no-repeat;
          }
      }

  }

  .footer {
    margin-top:5rem;
    padding:10rem 0;
    background-color: #222222;
    color:$white;
  }
