/* Custom Styles - Portfolio */
/* line 13, ../scss/main.scss */
.overlay {
  position: fixed;
  top: 105%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.98);
  backface-visibility: hidden;
  z-index: 4;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* line 28, ../scss/main.scss */
  .row {
    text-align: center;
  }

  /* line 28, ../scss/main.scss */
  .text {
    text-align: left;
  }

  /* line 30, ../scss/main.scss */
  p, ul {
    font-size: 1.15rem;
    color: #555555;
  }

  /* line 36, ../scss/main.scss */
  .page_header {
    font-size: 1.7rem;
    font-weight: 100;
    margin-bottom: 2rem;
  }

  /* line 41, ../scss/main.scss */
  .paragraph_header {
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  /* line 47, ../scss/main.scss */
  .list_header {
    font-size: 1.15rem;
    color: #111111;
    margin-bottom: 0;
  }

  /* line 53, ../scss/main.scss */
  .branding {
    text-align: center;
    margin-top: 10rem;
  }
  /* line 56, ../scss/main.scss */
  .branding a {
    display: block;
    margin: 0 auto;
    text-indent: -99999px;
    background-image: url("../images/branding_home.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  /* line 66, ../scss/main.scss */
  .nav {
    text-align: center;
    margin-top: 2rem;
  }
  /* line 69, ../scss/main.scss */
  .nav ul {
    list-style: none;
    margin: 0;
  }
  /* line 72, ../scss/main.scss */
  .nav ul li {
    line-height: 2.75rem;
  }
  /* line 75, ../scss/main.scss */
  .nav ul a {
    padding: 0.75rem;
  }
}
/* line 88, ../scss/main.scss */
.about {
  margin-top: 10rem;
}
/* line 90, ../scss/main.scss */
.about img {
  margin-bottom: 2rem;
}
/* line 94, ../scss/main.scss */
.about .skills, .about .experience {
  margin: 0 0 2rem 0;
}
/* line 99, ../scss/main.scss */
.about .skills li {
  margin-left: 1.5rem;
  padding-left: .5rem;
}
/* line 106, ../scss/main.scss */
.about .experience li {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

/* line 116, ../scss/main.scss */
.portfolio .portfolio_items {
  margin: 0 auto;
}
/* line 118, ../scss/main.scss */
.portfolio .portfolio_items li {
  position: relative;
  display: block;
  list-style: none;
  min-width: 290px;
  min-height: 280px;
}
/* line 126, ../scss/main.scss */
.portfolio .portfolio_items .portfolio_overlay {
  position: relative;
  top: 5rem;
  display: block;
  padding: .5rem;
  width: 100%;
  height: 8rem;
  background-color: rgba(34, 34, 34, 0.8);
}
/* line 134, ../scss/main.scss */
.portfolio .portfolio_items .portfolio_overlay h4, .portfolio .portfolio_items .portfolio_overlay h5 {
  color: #ffffff;
  text-align: left;
}
/* line 146, ../scss/main.scss */
.portfolio .portfolio_items .portfolio_otp {
  background: url("../images/portfolio_otp.png") center center/5rem no-repeat;
}
